<p>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" required />
</p>
<p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" required />
</p>
<p>
<label for="cat" class="rem">Categoria:</label>
<select id="cat" name="quiz[category]">
	<% for (var i=0; i < categories.length; i++) { %>
  	<option value="<%= categories[i] %>" <% if (i === 0) { %> selected <% } %>><%- capitalize(categories[i]) %></option>
	<% } %>
</select>
</p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">